@charset "utf-8";

body
{
    margin:0px;
    padding:0px;
    text-align: center;
    font-size: 18px;
    background-color:black;
    color: white;
}

#page
{
    min-width: 800px;
    margin: 20px auto;
    padding: 30px;
}

#header
{
    background-color: grey;
    padding: 5px;
    color:black;
}

img
{
    border: double 10px white;
}

#left-column
{
    text-align: center;
    float: left;
    width: 400px;
}
#right-column
{
    text-align: left;
    float: right;
    width: 400px;
}